%flex_center_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }
  @mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
  }
  @mixin transform($in) {
    transform:$in;
    -webkit-transform:$in;
    -moz-transform:$in;
    -o-transform:$in;
    -ms-transform:$in;
  }

  %background_nav{
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #87e0fd 0%,
      #05abe0 0%,
      #05abe0 0%,
      #101330 0%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #87e0fd 0%,
      #05abe0 0%,
      #05abe0 0%,
      #101330 0%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #87e0fd 0%,
      #05abe0 0%,
      #05abe0 0%,
      #101330 0%
    ); 
  }