%flex_center_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }
  @mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
  }
  @mixin transform($in) {
    transform:$in;
    -webkit-transform:$in;
    -moz-transform:$in;
    -o-transform:$in;
    -ms-transform:$in;
  }